body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.up {
  z-index: 2;
  position: fixed;
  right: 11px;
  border-radius: 50%;
  display: none;
  animation: up-down .9s infinite;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

.up button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: #fa26a0;
}

.up button i {
  color: #fff;
  font-size: 17px;
}

@keyframes up-down {
  0% {
    bottom: 3rem;
  }
  100% {
    bottom: 4rem;
  }
}

nav {
  transition: .5s;
}

nav a.navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav a.navbar-brand span {
  color: #fa26a0;
}

nav button.navbar-toggler {
  padding: 0;
  outline: none;
}

nav button.navbar-toggler span {
  width: 30px;
  height: 3px;
  background: white;
  display: block;
  margin: 7px;
  transition: all .5s ease-in-out;
}

nav div.collapse .navbar-nav {
  margin-left: auto;
}

nav div.collapse .navbar-nav li a {
  position: relative;
  margin-right: 15px;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  transition: all .23s ease-in-out;
}

nav div.collapse .navbar-nav li a:hover {
  color: #fa26a0;
}

nav div.collapse .navbar-nav li a:hover::before {
  transform: rotate(0deg);
  transform: translate(-50%);
  left: 50%;
  width: 100%;
}

nav div.collapse .navbar-nav li a:hover::after {
  transform: rotate(0deg);
  transform: translate(50%);
  right: 50%;
  width: 100%;
}

nav div.collapse .navbar-nav li a::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: rotate(90deg);
  transform-origin: 0;
  transition: .5s;
}

nav div.collapse .navbar-nav li a::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 3px;
  bottom: 1px;
  right: 0;
  background-color: #fff;
  transform: rotate(90deg);
  transform-origin: 100% 0;
  transition: .5s;
}

nav div.collapse .navbar-nav li a.active {
  color: #fa26a0;
}

nav div.collapse .navbar-nav li a.active::before {
  transform: rotate(0deg);
  transform: translate(-50%);
  left: 50%;
  width: 100%;
}

nav div.collapse .navbar-nav li a.active::after {
  transform: rotate(0deg);
  transform: translate(50%);
  right: 50%;
  width: 100%;
}

.header .carousel {
  height: 100vh;
}

.header .carousel .carousel-indicators li.active {
  background-color: #fa26a0;
}

.header .carousel .carousel-indicators li:not(.active) {
  transition: .3s;
}

.header .carousel .carousel-indicators li:not(.active):hover {
  transform: rotate(180deg);
}

.header .carousel .carousel-inner {
  height: 100%;
}

.header .carousel .carousel-inner .carousel-item {
  height: 100%;
}

.header .carousel .carousel-inner .carousel-item img {
  filter: brightness(0.3);
}

.header .carousel .carousel-inner .carousel-item .inf {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}

.header .carousel .carousel-inner .carousel-item .inf p {
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
}

.header .carousel .carousel-inner .carousel-item .inf h2 {
  font-size: 2.4rem;
  color: #fff;
  text-transform: capitalize;
}

.header .carousel .carousel-inner .carousel-item .inf .btns {
  margin-top: 2rem;
}

.header .carousel .carousel-inner .carousel-item .inf .btns a {
  padding: 10px 30px;
  margin: 7px;
  border-radius: 50px;
  text-transform: capitalize;
  background-color: transparent;
  transition: .5s;
}

.header .carousel .carousel-inner .carousel-item .inf .btns a:hover {
  background-color: #fa26a0;
}

.header .carousel .carousel-inner .carousel-item .inf .btns a.active2 {
  background-color: #fa26a0;
}

.about .container .about-header h2 {
  font-size: 2.4rem;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.about .container .about-header span {
  width: 50px;
  height: 3px;
  background-color: #fa26a0;
  display: block;
  margin: auto;
}

.about .container .row .col-md .about-img {
  overflow: hidden;
}

.about .container .row .col-md .about-img:hover img {
  transform: rotate(16deg) scale(1.4);
}

.about .container .row .col-md .about-img img {
  transition: .5s ease-in-out;
}

.about .container .row .col-md .info h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #5f5e5e;
}

.about .container .row .col-md .info p {
  font-size: .9rem;
}

.about .container .row .col-md .info ul {
  padding: 0;
  list-style: none;
}

.about .container .row .col-md .info ul li {
  line-height: 40px;
  font-size: 15px;
}

.about .container .row .col-md .info ul li i {
  margin-right: 15px;
  color: #fa26a0;
}

.services .container .services-header h2 {
  font-size: 2.4rem;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.services .container .services-header span {
  width: 50px;
  height: 3px;
  background-color: #fa26a0;
  display: block;
  margin: auto;
}

.services .container .row .service {
  padding: 20px;
  text-align: center;
}

.services .container .row .service:hover i {
  color: #fa26a0;
  transform: scale(1.2);
}

.services .container .row .service:hover h2 {
  color: #fa26a0;
}

.services .container .row .service i {
  font-size: 2rem;
  transition: .5s ease-in-out;
}

.services .container .row .service h2 {
  margin: 15px 0;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: #777;
  transition: .5s ease-in-out;
}

.services .container .row .service p {
  color: #a9a6a6;
}

.team .container .team-header h2 {
  font-size: 2.4rem;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.team .container .team-header span {
  width: 50px;
  height: 3px;
  background-color: #fa26a0;
  display: block;
  margin: auto;
}

.team .container .row .border-primary {
  border-color: #d7d7d7 !important;
}

.team .container .row .border-primary .img-box {
  position: relative;
}

.team .container .row .border-primary .img-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: .4s;
  opacity: 0;
}

.team .container .row .border-primary .img-box .overlay .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  transition: .6s;
  width: 100%;
}

.team .container .row .border-primary .img-box .overlay .icon a {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  line-height: 32px;
  margin: 3px;
  transition: .5s;
}

.team .container .row .border-primary .img-box .overlay .icon a:hover {
  color: #fa26a0;
  transform: scale(1.2);
}

.team .container .row .border-primary .img-box:hover .overlay {
  opacity: 1;
}

.team .container .row .border-primary .img-box:hover .overlay .icon {
  transform: translate(-50%, -50%);
}

.reviews .row .col-md {
  height: 380px;
}

.reviews .row .col2 {
  position: relative;
}

.reviews .row .col2 img {
  filter: brightness(0.5);
}

.reviews .row .col2 .detalis {
  position: absolute;
  padding: 0 45px;
  top: 50%;
  transform: translateY(-50%);
}

.reviews .row .col2 .detalis h4, .reviews .row .col2 .detalis p {
  color: #fff;
  width: 90%;
  text-transform: uppercase;
}

.reviews .row .col2 .detalis a {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #fa26a0;
  border-radius: 50px;
  outline: none;
  transition: .5s;
}

.reviews .row .col2 .detalis a:hover {
  text-decoration: none;
  background-color: #fa26a0;
  color: #fff;
}

.protfolio .container .protfolio-header h2 {
  font-size: 2.4rem;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.protfolio .container .protfolio-header span {
  width: 50px;
  height: 3px;
  background-color: #fa26a0;
  display: block;
  margin: auto;
}

.protfolio .container ul li {
  display: inline-block;
  padding: 10px 25px;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  color: #888;
  border: 1px solid #000;
  margin: 5px;
  transition: .5s;
}

.protfolio .container ul li:hover {
  color: #fff;
  background-color: #fa26a0;
  border: 1px solid #fa26a0;
}

.protfolio .container ul li.active {
  color: #fff;
  background-color: #fa26a0;
  border: 1px solid #fa26a0;
}

.protfolio .container .gallery .row .col-lg-4 .box {
  overflow: hidden;
  height: 250px;
  margin-bottom: 30px;
}

.protfolio .container .gallery .row .col-lg-4 .box:hover .overlay {
  top: 0;
  opacity: 1;
}

.protfolio .container .gallery .row .col-lg-4 .box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: .5s;
}

.protfolio .container .gallery .row .col-lg-4 .box .overlay .info {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.protfolio .container .gallery .row .col-lg-4 .box .overlay .info h2 {
  text-transform: uppercase;
}

.protfolio .container .gallery .row .col-lg-4 .box .overlay .info p {
  font-size: 1.2rem;
}

.testimonials {
  background-image: url(../images/header-1.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.testimonials .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.testimonials .container #carouselExampleIndicators2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.testimonials .container #carouselExampleIndicators2 .carousel-inner .carousel-item .inf {
  color: #fff;
}

.testimonials .container #carouselExampleIndicators2 .carousel-inner .carousel-item .inf .icon i {
  font-size: 2rem;
  color: #fa26a0;
  padding: 20px;
  margin: 0 0 25px 0;
  border: 1px solid #999;
  border-radius: 50%;
}

.testimonials .container #carouselExampleIndicators2 .carousel-indicators {
  position: unset;
}

.contact .container .contact-header h2 {
  font-size: 2.4rem;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.contact .container .contact-header span {
  width: 50px;
  height: 3px;
  background-color: #fa26a0;
  display: block;
  margin: auto;
}

.contact .container .row1 .col-lg-4 .box {
  margin-bottom: 2.6rem;
}

.contact .container .row1 .col-lg-4 .box .icon i {
  font-size: 1.5rem;
  color: #fa26a0;
  padding: 10px;
  margin: 0 0 25px 0;
  border: 1px solid #999;
  border-radius: 50%;
}

.contact .container .row1 .col-lg-4 .box p {
  color: #5e5a5a;
}

.contact .container .row1 .col-lg-4 .box2 {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.contact .container .row2 .col-md form .form-group textarea {
  height: 250px;
}

.contact .container .row2 .col-md form button {
  background: none;
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid #999;
  outline: none;
}

footer {
  background-color: #ececec;
  padding: 25px 0;
}

footer .container p {
  letter-spacing: 3px;
}

footer .container p span {
  color: #fa26a0;
}

.loading {
  position: fixed;
  z-index: 99999999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ddf3f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fe91ca;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.toggle1 .one {
  transform: translate(0px, 10px) rotate(50deg);
}

.toggle1 .two {
  opacity: 0;
}

.toggle1 .three {
  transform: translate(0px, -10px) rotate(-50deg);
}

@media (max-width: 992px) {
  ul.navbar-nav {
    text-align: center !important;
  }
  nav div.collapse .navbar-nav li a::after,
  nav div.collapse .navbar-nav li a::before {
    position: unset;
    content: unset;
  }
  .navbar-collapse {
    padding-top: 10px;
  }
  nav div.collapse .navbar-nav {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .contact .container .row1 .col-lg-4 .box2 {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .header .carousel .carousel-inner .carousel-item .inf h2 {
    font-size: 2rem;
  }
  .header .carousel .carousel-inner .carousel-item .inf p {
    font-size: 1.5rem;
  }
  .header .carousel .carousel-inner .carousel-item .inf .btns a {
    padding: 10px 20px;
  }
  .up button {
    width: 40px;
    height: 40px;
  }
  .contact .container .row1 .col-lg-4 .box2 {
    border: none;
  }
}

@media (max-width: 576px) {
  .header .carousel {
    height: 80vh;
  }
  .header .carousel .carousel-inner .carousel-item .inf p {
    font-size: 1rem;
  }
  .header .carousel .carousel-inner .carousel-item .inf h2 {
    font-size: 1rem;
  }
  .header .carousel .carousel-inner .carousel-item .inf .btns a {
    padding: 6px 12px;
    font-size: 12px;
  }
  .about .container .about-header h2,
  .services .container .services-header h2,
  .team .container .team-header h2,
  .protfolio .container .protfolio-header h2 {
    font-size: 1.4rem;
  }
}
